<div class="registry-container">
  <div class="registry-title">User Registration</div>
  <div class="registry-name">
    <div class="registry-first">
      First Name:
      <input
        type="search"
        aria-describedby="button-addon1"
        placeholder="Your first name"
      >
    </div>
    <div class="registry-last">
      Last Name:
      <input
        type="search"
        aria-describedby="button-addon1"
        placeholder="Your last name"
      >
    </div>
  </div>
  <div class="registry-businessAddr">
    <div class="business-item">
      Business Address:
      <input
        type="search"
        aria-describedby="button-addon1"
        placeholder="Your business address"
      >
    </div>
  </div>
  <div class="registry-phone">
    <div class="telephone-item">
      Telephone:
      <input
        type="search"
        aria-describedby="button-addon1"
        placeholder="(xxx)-xxx-xxxx"
      >
    </div>
  </div>
  <div class="registry-email">
    <div class="email-item">
      Email:
      <input
        type="search"
        aria-describedby="button-addon1"
        placeholder="yourEmail@email.com"
      >
    </div>
  </div>
  <div class="registry-button">
    <div clas="registry-item">
      <button
        type="button"
        class="btn btn-primary"
      >
        Register
      </button>
    </div>
  </div>
</div>
